#page {
	overflow: hidden;
}

.post-191 .panel-image:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
/* background-color: #5BCDB1; */
	opacity: 1;
	background-image: url('https://2018.sanjose.wordcamp.org/files/2018/03/cloudsAsset-4-2.png');
	background-size: 25%;
	background-repeat: no-repeat;
	background-position: center;
}

.page:not(.home) #content {
	padding-bottom: 0 !important;
}

.background-fixed .panel-image {
	background-attachment: fixed;
	background-size: cover;
}

.twentyseventeen-front-page article:not(.has-post-thumbnail):not(:first-child) {
	border: none;
}

.custom-header {
	overflow: hidden;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0 50%;
	}
	
	50% {
		background-position: 100% 50%;
	}
	
	100% {
		background-position: 0 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0 50%;
	}
	
	50% {
		background-position: 100% 50%;
	}
	
	100% {
		background-position: 0 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0 50%;
	}
	
	50% {
		background-position: 100% 50%;
	}
	
	100% {
		background-position: 0 50%;
	}
}

.site-header::before {
	background-image: url('https://2018.sanjose.wordcamp.org/files/2018/03/cloudsAsset-header.png');
	background-size: contain;
	background-repeat: repeat-x;
	background-position: center bottom;
	display: block;
	position: absolute;
	width: 100%;
	height: 100vh;
	bottom: 72px;
}

.custom-logo-link img, body.home.title-tagline-hidden.has-header-image .custom-logo-link img, body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
	max-width: 100%;
	min-width: 500px;
	min-height: 167px;
}

@keyframes hovering {
	0% {
		transform: translate(0,0px);
	}
	
	50% {
		transform: translate(0,2%);
	}
	
	100% {
		transform: translate(0,0px);
	}
}

@keyframes slideIn {
	0% {
		transform: translate(2000px,-800px);
	}
	
	60% {
		transform: translate(450px,-280px);
	}
	
	100% {
		transform: translate(0,0);
	}
}

.site-branding {
	animation-name: slideIn, hovering;
	animation-duration: 1s, 5s;
	animation-timing-function: ease-out, ease-in-out;
	animation-delay: 1s, 10s;
	animation-iteration-count: 1, infinite;
	animation-direction: normal, normal;
	animation-fill-mode: backwards, none;
	transform: translate3d(0,0,0);
}

.site-branding a:hover {
	opacity: 1;
}

.main-navigation li li:hover,
	.main-navigation li li.focus {
	background: #172286;
}

.site-branding:after {
	position: absolute;
	animation: clouds 360s linear 2s infinite;
	animation-direction: alternate;
	content: '';
	display: block;
	background-image: url('https://2018.sanjose.wordcamp.org/files/2018/03/cloudsAsset-6.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 600px;
	height: 100px;
	right: -60vw;
	top: 10px;
	z-index: -1;
	opacity: 1;
}

@keyframes clouds {
	0% {
		right: -60vw;
		top: 10px;
	}
	
	30%, 60% {
		right: 150vw;
		width: 800px;
		top: 25px;
	}
}

header.site-header:after {
	position: absolute;
	animation: clouds2 720s linear 2s infinite;
	animation-direction: alternate;
	content: '';
	display: block;
	background-image: url('https://2018.sanjose.wordcamp.org/files/2018/03/cloudsAsset-6.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 900px;
	height: 300px;
	right: -100vw;
	top: 25vh;
	z-index: 1;
	opacity: 5;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: FlipH;
}

@keyframes clouds2 {
	0% {
		right: -100vw;
		top: 25vh;
	}
	
	30%, 60% {
		right: 150vw;
		width: 800px;
		top: 50vh;
	}
}

/*
.custom-header {
	background: url('https://2018.sanjose.wordcamp.org/files/2018/03/stars-1.png')repeat-x;
	background-size: 50%;
}
*/
.custom-header:before {
	position: absolute;
	animation: satellite 60s linear 2s infinite;
	content: '';
	display: block;
	background-image: url('https://2018.sanjose.wordcamp.org/files/2018/03/cloudsAsset-4.png');
	background-repeat: no-repeat;
	background-size: contain;
	width: 100px;
	height: 200px;
	right: 100px;
	top: 10vh;
	z-index: 1;
}

@keyframes satellite {
	0% {
		top: 10vh;
		right: 100px;
	}
	
	30%,60% {
		top: 15vh;
		right: 100px;
	}
	
	from {
		-webkit-transform: rotate(0deg);
	}
	
	to {
		-webkit-transform: rotate(600deg);
	}
}

.navigation-top .wrap {
	max-width: 80%;
}

.wrap, .content-area {
	max-width: 80% !important;
}

.home .content-area {
	max-width: 100% !important;
}

.home .entry-header {
	display: none;
}

.home .wcorg-sponsor-description p,.home .wcorg-sponsor-description div,.home .wcorg-sponsor-description ul, .home .wcorg-sponsor h3,.single-featured-image-header {
	display: none;
}

.panel-image {
	height: 100vh;
	max-height: 500px;
	background-size: 100%;
}

.navigation-top {
	background: #30398e;
	border-top: 1px solid #000;
}

.main-navigation ul li.menu-item-has-children:before,

	.main-navigation ul li.page_item_has_children:before,
.main-navigation ul li.page_item_has_children:after {
	border-color: #30398e;
}

.site-header {
	background: #f0f9ff;
	background: -moz-linear-gradient(top,#f0f9ff 0%,#DDF2FF 47%,#DDF2FF 100%) !important;
	background: -webkit-linear-gradient(top,#f0f9ff 0%,#DDF2FF 47%,#DDF2FF 100%) !important;
	background: linear-gradient(to bottom,#f0f9ff 0%,#DDF2FFf 47%,#DDF2FF 100%);
}

.sjwc2018-row {
	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 50px;
}

body.home article:not(.post-197) .entry-content {
	padding-bottom: 5vh;
}

.panel-content:first-child {
	background: url('https://2018.sanjose.wordcamp.org/files/2018/03/cloudsAsset-7.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	padding-bottom: 250px;
	min-height: 100vh;
}

section#facebook-likebox-2 {
	text-align: center;
	margin: 0 auto;
}

.entry-content h2, .sjwc2018-row h3, .wcsj__workshop--extra-content h3, h1.entry-title, h3.entry-title a, h1, h2, h3, h4 {
	font-weight: 800 !important;
	color: #30398d !important;
	text-transform: uppercase !important;
}

h1.entry-title {
	text-align: center;
	font-size: 2rem !important;
	letter-spacing: 0 !important;
}

.sjwc2018-row .column-1-3 {
	text-align: center;
}

.sjwc2018-row .column-1-3 img {
	max-width: 75px;
}

.sjwc2018-row .column-1-3 p:empty {
	display: none;
}

ul#top-menu {
	text-align: center;
}

ul#top-menu li a {
	text-transform: uppercase;
}

body.home .wcorg-sponsors {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
}

/* WorkShops*/
.wcsj__workshops {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr;
	grid-template-rows: 250px 250px 250px;
}

.wcsj__workshop-item {
	width: 100%;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}

.item-pic {
	text-align: center;
}

.item-pic img {
	width: 75%;
	max-width: 100%;
}

.item-excerpt {
	grid-column: span 2;
	align-self: center;
	justify-self: center;
}

.item-excerpt h3 {
	font-weight: 800;
	color: #2E3482;
}

.wcsj__workshop-item:nth-child(2) {
	grid-template-rows: 300px;
}

.wcsj__workshop-item:nth-child(2) .item-excerpt {
	grid-row-start: 1;
	grid-column: span 2;
	order: 1;
	text-align: right;
}

.wcsj__workshop-item:nth-child(2) .item-pic {
}

.site-content:after {
	display: block;
	background-image: url('https://2018.sanjose.wordcamp.org/files/2018/03/cloudsAsset-15.png');
	content: ' ';
	width: 100%;
	height: 200px;
	background-size: contain;
	z-index: 1024;
	background-position: center bottom;
	margin-bottom: -45px;
}

.wcsj__workshop--extra-content {
	margin-top: 50px;
	text-align: center;
}

footer#colophon {
	background-color: #5CCDB1;
	border: none;
	color: #2E3482 !important;
}

footer h2 {
	color: white !important;
}

.footer-widget-1 input[type="submit"] {
	background-color: #2E3482;
}

#subscribe-email, #subscribe-submit {
	width: 50%;
	float: left;
}

#subscribe-email input, #subscribe-submit input {
	height: 50px;
	width: 100%;
	border-radius: 0;
}

.site-info {
	float: none;
	padding: .7em 0 0;
	width: 100%;
	text-align: center;
}

.site-info a {
	color: #2E3482 !important;
}

footer a {
	text-decoration: none !important;
	border-bottom: none;
	box-shadow: none !important;
	color: white;
}

article.post-361 {
	background-image: url('https://2018.sanjose.wordcamp.org/files/2018/03/cloudsAsset-14.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center 50px;
}

/* Contacto*/
form.contact-form.commentsblock {
	width: 80%;
	margin: 0 auto;
}

form.contact-form.commentsblock input:not(.pushbutton-wide), form.contact-form.commentsblock textarea {
	width: 100%;
	max-width: 100%;
}

/* Media Queries */
@media only screen and (min-width: 769px) {
	.site-branding a {
		margin: 25vh;
		text-align: center;
		width: 100%;
		z-index: 1024;
	}
	
	.main-navigation ul ul {
		background: #30398e;
	}
	
	.site-header .navigation-top .menu-scroll-down,.main-navigation a {
		color: #fff;
	}
	
	.navigation-top .current-menu-item > a, .navigation-top .current_page_item > a {
		color: #fff;
	}
}

@media only screen and (max-width: 768px) {
	.custom-logo-link img, body.home.title-tagline-hidden.has-header-image .custom-logo-link img, body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
		max-width: 100%;
		min-width: 320px;
		min-height: 107px;
	}
	
	.custom-header-media::before {
		background: transparent;
		bottom: 0;
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		z-index: 2;
	}
	
	.site-branding a {
		margin: 25vh 0 25vh -6vh;
		text-align: center;
		width: 150%;
		z-index: 1024;
	}
	
	.main-navigation ul ul {
		background: #30398e14;
	}
	
	.site-header .navigation-top .menu-scroll-down,.main-navigation a {
		color: #30398e;
	}
	
	.navigation-top .current-menu-item > a, .navigation-top .current_page_item > a {
		color: white;
	}
	
	.sub-menu .toggled-on {
		background-color: #fff !important;
	}
	
	.menu-toggle {
		color: #fff;
	}
	
	.main-navigation li li:hover,
																																	.main-navigation li li.focus {
		background: #172286;
	}
	
	.main-navigation li {
		border: none;
	}
	
	.main-navigation li a {
		color: white;
		font-size: 12px;
	}
	
	svg.icon.icon-angle-down {
		fill: white;
	}
}

@media only screen and (max-width: 425px) {
	.site-branding a {
		margin: 1rem;
		width: initial;
		text-align: right;
		padding-bottom: 40px;
		padding-right: 0;
		vertical-align: top;
		margin-bottom: 0;
	}
	
	.custom-header:before {
		animation: none;
		width: 25px;
		height: 25px;
		right: 20px;
		top: 10px;
	}
	
	.site-branding:after, header.site-header:after {
		content: none;
	}
	
	.custom-logo-link img, body.home.title-tagline-hidden.has-header-image .custom-logo-link img, body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
		max-width: 30%;
		min-width: 200px;
		min-height: 67px;
	}
	
	.site-branding .wrap {
		width: 100%;
		max-width: 100% !important;
		padding: 0;
		text-align: right;
	}
	
	.panel-content .wrap {
		max-width: 100% !important;
	}
	
	.site-branding {
		animation: none;
		padding-bottom: 0;
		margin-bottom: 0;
	}
	
	.site-header::before {
		bottom: initial;
		top: -520px;
	}
	
	ul#top-menu {
		background: transparent;
		border: none;
	}
	
	.main-navigation li {
		border: none;
	}
	
	.sjwc2018-row {
		grid-template-columns: 1fr;
	}
	
	.wcsj__workshops {
		grid-template-rows: 300px;
	}
	
	.wcsj__workshop-item {
		grid-template-columns: 1fr;
	}
	
	.wcsj__workshop-item:nth-child(2) .item-excerpt {
		grid-row-start: 2;
		grid-column: 1;
		order: initial;
		text-align: center;
		margin-top: 30px;
	}
	
	.item-excerpt {
		grid-column: span 1;
		align-self: center;
		justify-self: center;
		text-align: center;
	}
	
	.wcsj__workshop-item:nth-child(2) .item-pic {
		margin-top: 80px;
	}
	
	.panel-content:first-child {
		padding-bottom: 100px;
	}
	
	body.home .wcorg-sponsors {
		grid-template-columns: 1fr;
	}
	
	.site-content:after {
		margin-bottom: 0;
		background-repeat: no-repeat;
	}
	
	.panel-image {
		background-size: cover;
		background-position: right;
	}
	
	.page:not(.home) #content {
		padding-bottom: 0;
	}
}

.home article.post-10 .panel-content {
	background: transparent;
}

.home article.post-191 .entry-header {
	display: initial;
}

@media only screen and (max-width: 414px) {
	.site-header::before {
		bottom: initial;
		top: -77vh;
	}
}

@media only screen and (max-width: 375px) {
	.site-header::before {
		bottom: initial;
		top: -520px;
	}
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
	.site-header::before {
		bottom: initial;
		top: -664px;
	}
}

#tix-attendees .tix-columns-3 li {
	display: inline-block;
	float: none;
	width: 33%;
	margin-bottom: 48px;
	height: auto;
	text-align: center;
	vertical-align: top;
}

#tix-attendees .avatar {
    float: left;
    width: 107px;
    height: 107px;
    background:#ccc;
}
#tix-attendees .tix-columns-3 li {
    display: inline-block;
    float: none;
    width: 32%!important;
    height: auto;
    text-align: center;
    vertical-align: top;
    border: solid 1px #ccc;
    padding: 2px;
    text-align: right!important;
    margin: 0.25%!important;
}
.tix-field{padding:0 7px 0 0!important;}
#tix-attendees .tix-website-url{display:none!important;}
.tix-attendee-url{margin:1px; background:#5CCDB1;box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0px 0 rgba(0, 0, 0, 1); }
.tix-attendee-twitter{margin:1px; background:#b1bcff;box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0px 0 rgba(0, 0, 0, 1); }
.tix-attendee-list a, .tix-attendee-list:hover{box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0px 0 rgba(0, 0, 0, 1)!important;}
